body {
  background-color: #212632;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1;
}

h1 {
  color: #54fea8;
  font-size: 10px;
  text-transform: uppercase;
  padding: 20px 0px 5px;
}
h2 {
  color: #cad7e2;
  font-size: 16px;
  margin-bottom: 30px;
}
.container {
  background-color: #303b49;
  width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.text {
  width: 85%;
  display: block;
  margin: 0 auto;
}
.divider {
  width: 400px;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}

.button {
  position: relative;
}
button {
  background-color: #54fea8;
  border: none;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: -21px;
  right: 218px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #52feaf;
}

.dice {
  background-color: #54fea8;
  width: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #cad7e2;
}
.attribution a {
  color: #cad7e2;
  text-decoration: none;
}
.attribution a:hover {
  color: #54fea8;
}

@media (max-width: 520px) {
  body {
    margin: 0px;
  }
  .container {
    width: 300px;
  }
  .divider {
    width: 250px;
  }

  button {
    bottom: -21px;
    right: 118px;
  }
  .attribution {
    font-size: 8px;
    text-align: center;
  }
}
